
{% extends 'ProjectSite/authentication/auth_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Password Reset</title>
{% endblock %}

{% block auth_content %}
<div class="col-12 col-md-6 col-lg-7 px-5 pb-5 my-auto">
    <div class="h1 text-center">Password reset</div>
    <br>
    <div class="h4 text-center">Forgotten your password? Enter your email address below</div>
    <br>
    <div class="m-3 h4">
        <!-- Error messages -->
        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %} 
                <div class="alert alert-danger">
                    <strong>{{ error }}</strong>
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}

            {{ form|crispy }}
            <div class="d-flex justify-content-center mt-5">
                <div class="col-10 col-lg-7">
                    <button type="submit" name="Send email" class="btn1 h3">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="mt-4">
        <div class="d-flex justify-content-center links">
            <div class="h5">All set? <a href="{% url 'login' %}" class="ml-2 text-primary"> Login</a></div> 
        </div>
    </div>
</div>

{% endblock %}

