
{% extends 'ProjectSite/authentication/auth_base.html' %}
{% load static %}

{% block title %}
    <title>Password Reset</title>
{% endblock %}

{% block auth_content %}
    <!-- Header -->
    <div class="text-dark display-5 text-center fw-bold m-5">Password reset complete</div>
    <br>
    <br>
    <!-- Content -->
    <div class="h3 m-3">Your password has been set. You may go ahead and log in now.</div>
    <br>
    <div class="mt-4">
        <div class="d-flex justify-content-center links">
            <div class="h5">All set? <a href="{% url 'login' %}" class="ml-2 text-primary"> Login</a></div> 
        </div>
    </div>
{% endblock %}