
{% extends 'ProjectSite/authentication/auth_base.html' %}
{% load static %}

{% block title %}
    <title>Password Reset</title>
{% endblock %}

{% block auth_content %}
<div class="col-12 col-md-6 col-lg-7 px-5 pb-5 my-auto">
    <div class="h1 text-center">Password reset</div>
    <br>
    <br>
    <div class="h3 m-3">Forgotten your password? Enter your email address below</div>
    <br>
    <div class="m-3 h4">
        <form action="" method="POST">
            {% csrf_token %}

            {{ form }}
            <input type="Submit" name="Send email">
        </form>
    </div>
</div>

{% endblock %}

