
{% extends 'ProjectSite/authentication/auth_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Password Reset</title>
{% endblock %}

{% block auth_content %}
    {% if validlink %}
    <!-- Header -->
    <div class="text-dark display-5 text-center fw-bold m-5">Enter new password</div>
    <br>
    <br>
    <!-- Content -->
    <div class="h3 m-3">Please enter your new password twice so we can verify you typed it in correctly.</div>
    <br>
    <br>
    <div class="m-3 h4">
        <!-- Error messages -->
        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %} 
                <div class="alert alert-danger">
                    <strong>{{ error }}</strong>
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <form action="" method="POST" class="text-dark">
            {% csrf_token %}

            {{ form|crispy }}
            <div class="d-flex justify-content-center mt-5">
                <div class="col-10 col-lg-7">
                    <button type="submit" name="Update Password" class="btn1 h3">Submit</button>
                </div>
            </div>
        </form>
    </div>
    {% else %}
    <div class="col-12 col-md-6 col-lg-7 px-5 pb-5 my-auto">
        <div class="h1 text-center">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</div>
        <br>
        <br>
        <div class="d-flex justify-content-center links">
            <div class="h5">Request a new password reset link? <a href="{% url 'reset_password' %}" class="ml-2 text-primary"> Reset password</a></div>
        </div>
    </div>
    {% endif %}
    <div class="mt-4">
        <div class="d-flex justify-content-center links">
            <div class="h5">All set? <a href="{% url 'login' %}" class="ml-2 text-primary"> Login</a></div> 
        </div>
    </div>
{% endblock %}
