
{% extends 'ProjectSite/authentication/auth_base.html' %}
{% load static %}

{% block title %}
    <title>Password Reset</title>
{% endblock %}

{% block auth_content %}
<div class="col-12 col-md-6 col-lg-7 px-5 pb-5 my-auto">
    <div class="h1 text-center">Password reset sent</div>
    <br>
    <br>
    <div class="h3 m-3">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</div>
    <br>
    <div class="h3 m-3">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</div>
    <div class="mt-4">
        <div class="d-flex justify-content-center links">
            <div class="h5">All set? <a href="{% url 'login' %}" class="ml-2 text-primary"> Login</a></div> 
        </div>
    </div>
</div>

{% endblock %}

