{% extends 'ProjectSite/base.html' %}
{% load static %}

{% block title %}
    <title>Access Services</title>
{% endblock %}
{% block body %}
<div class="container m-5">
    <div class="row text-center">
       <h1>Request Services</h1>
       <p>Fill out needs assesment form to send to our providers.</p>
            <div class="col-12 col-sm-12 col-xxl-12">
                <form>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th scope="col">Category</th>
                          <th scope="col">Short Term</th>
                          <th scope="col">Long Term</th>
                        </tr>
                      </thead>
                      <tr>
                            <td>Education</td>
                            <td>
                                <input id="HS-Diploma"  type="checkbox" /><label for="HS-Diploma">HS-Diploma</label>
                            </td>
                            <td>
                                <input id="College"  type="checkbox" /><label for="College">Job training, College</label>
                            </td>
                      </tr>
                      <tr>
                        <td>Employment</td>
                        <td>
                            <input id="Job-Training"  type="checkbox" /><label for="Job Training">Job Training</label>
                        </td>
                        <td>
                            <input id="Career"  type="checkbox" /><label for="Career">Career</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Financial Literacy</td>
                        <td>
                            <input id="Fin-lit"  type="checkbox" /><label for="Fin-lit">Financial Literacy</label>
                        </td>
                        <td>
                            <input id="Fin-Coaching"  type="checkbox" ><label for="Fin-Coaching"> Financial Coaching</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Healthcare</td>
                        <td>
                            <input id="pysical"  type="checkbox" /><label for="pysical">Physical</label>
                        </td>
                        <td>
                            <input id="full"  type="checkbox" /><label for="full">Full Healthcare</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Housing</td>
                        <td>
                            <input id="rental"  type="checkbox" /><label for="rental">Rental Assistance</label>
                        </td>
                        <td>
                            <input id="ownership"  type="checkbox" /><label for="ownership">Homeownership</label>
                        </td>
                    </tr>
                </table>
            </form>
            </div>
    </div>
</div>


{% endblock %}
