{% extends 'ProjectSite/base.html' %}
{% load static %}

{% block title %}
    <title>Access Services</title>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
{% endblock %}
{% block body %}
<div class="container m-5">
    <div class="row text-center">
       <h1>Request Services</h1>
       <p>Fill out needs assesment form to send to our providers.</p>
            <div class="col-12 col-sm-12 col-xxl-12">
            <form id="form" method="post"url="% url 'access_services' %}" >
                    {% csrf_token %}
                <table id="table" class="table table-bordered">
                    <thead>
                        <tr>
                          <th scope="col">Category</th>
                          <th scope="col">Short Term</th>
                          <th scope="col">Long Term</th>
                        </tr>
                      </thead>
                      <tr>
                            <td>Education</td>
                            
                               <td>
                                   {{form.education_shortTerm}}<label>High School</label>
                                 </td> 
                               <td> 
                                   {{form.education_longTerm}} <label>College</label>
                                </td>
                      </tr>
                      <tr>
                        <td>Employment</td>
                        <td>
                            {{form.employment_shortTerm}}<label for="Job Training">Job Training</label>
                        </td>
                        <td>
                            {{form.employment_longTerm}}<label for="Career">Career</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Financial Literacy</td>
                        <td>
                            {{form.financial_shortTerm}}<label for="Fin-lit">Financial Literacy</label>
                        </td>
                        <td>
                            {{form.financial_longTerm}}<label for="Fin-Coaching"> Financial Coaching</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Healthcare</td>
                        <td>
                            {{form.healthcare_shortTerm}}<label for="pysical">Physical</label>
                        </td>
                        <td>
                            {{form.healthcare_longTerm}}<label for="full">Full Healthcare</label>
                        </td>
                    </tr>
                    <tr>
                        <td>Housing</td>
                        <td>
                        {{form.housing_shortTerm}}<label for="rental">Rental Assistance</label>
                        </td>
                        <td>
                            {{form.housing_longTerm}}<label for="ownership">Homeownership</label>
                        </td>
                    </tr>
                </table>

                <button class="btn btn-primary" type="submit">Submit</button>
                
            </form>
            
            </div>
    </div>
</div>
{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script type="text/javascript">
    $(function () {
        $("#form").on("submit", (e) => {
            // e.preventDefault();
            console.log("ajax")
            console.log($('#table').html())
             $.ajax({
                type: "POST",
                url: '{% url "access_services_email" %}',
                data: {
                    content: $('#table').html(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    alert(data.message);
                    window.location.href = '{% url "home" %}';
                },
                error: function (res) {  
                    alert("email sent failed");                                                                                                               
                },
            });
        })
    })
</script>
{% endblock scripts %}