{% extends 'ProjectSite/base.html' %}
{% load static %}

{% block title %}
    <title>Blog</title>
{% endblock %}

{% block body %}
    <div class="text-end mt-3">
    <a href="{% url "create_blog" %}" class="btn btn-primary">ADD POST</a>
    </div>
    {% for post in post %}
        <div style="font-size: 20px">
            <container>
                {{ post.post_title }}
            </container>
        </div>
        <div class="text-center" style="font-size: 20px">
            <container class="text-center">
                {{ post.post }}
            </container>
        </div>
        <div>
        <a href="{% url 'edit_blog' post.id %}" class="btn btn-primary btn-sm">Edit</a>
        <a href="{% url 'delete_blog' post.id %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
    {% endfor %}
{% endblock %}

