{% extends 'ProjectSite/calendar-base.html' %}
{% load static %}
{% load user_tags %}
{% load crispy_forms_filters %}

{% block title %}Calendar{% endblock title %}

{% block extracss %}
    <link href="{% static 'calendar/main.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" integrity="sha512-Oy+sz5W86PK0ZIkawrG0iv7XwWhYecM3exvUtMKNJMekGFJtVAhibhRPTpmyTj8+lJCkmWfnpxKgT2OopquBHA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock extracss %}



{% block content %}

<style>
    @media screen and (min-width: 768px) {
        .calendar-mobile{
            font-size: 14px;
        }
    }
    @media screen and (max-width: 768px) {
        .calendar-mobile{
            font-size: 10px;
        }
    }
</style>
    <main class="app-content calendar-mobile" >
        <div class="row">
            <div class="col-md-12">
                <div class="tile row">
                    <div class="col-md-3">
                        {% if request.user|has_group:"organizer" %}
                            <button id="addEvent" type="button" class="btn btn-primary" style="background-color: #834655;border-color: #834655">ADD EVENT</button>
                        {% endif %}
                        <div id="external-events">
                            <h4 style="font-size: 20px;" class="mb-4">Filter Event</h4>
                            <form method="get">
                                {{ calendarFilter.form|crispy }}
                                <button class="btn btn-primary" style="background-color: #834655;border-color: #834655" type="submit">SEARCH</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div id="calendar"></div>
                    </div>
                    {% if request.user|has_group:"organizer" %}
                        <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary" style="background-color: #834655 !important;">
                                        <h5 class="modal-title text-white" id="exampleModalLongTitle">Add New Event</h5>
                                        <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="modal-body" style="height: 65vh;overflow-y: auto;">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Event Title:</label>
                                                {{ form.event_name }}
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Description:</label>
                                                {{ form.event_description }}
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Start Date:</label>
                                                {{ form.event_sTime }}
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">End Date:</label>
                                                {{ form.event_eTime }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.event_tag|as_crispy_field }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.event_popper | as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="modalClose2" type="button" class="btn btn-danger">Close</button>
                                            <button type="submit" class="btn btn-primary" style="background-color: #834655;border-color: #834655">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="modal" id="modal-popper" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <h5 id="event-title" class="modal-title text-center"></h5>
                        <button id="popper-x" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="image-url" class="modal-body"></div>                   
                    <form id="registerBtnForm" class="m-3"></form> 
                    <div class="modal-footer">
                        <div id="add-to-calendar" class="btn btn-primary"></div>
                        <button id="closePopper" type="button" class="btn btn-danger">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </main>
{% endblock content %}

{% block extrascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'calendar/main.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var today = new Date();

            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
                },
                initialDate: today,
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectMirror: true,
                select: function(arg) {
                    var modal = document.getElementById('eventModal')
                    if (modal) {
                        modal.style.display = 'block'
                        calendar.unselect()
                    }
                },
                // THIS KEY WON'T WORK IN PRODUCTION!!!
                // To make your own Google API key, follow the directions here:
                // http://fullcalendar.io/docs/google_calendar/
                // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

                // bangladesh Holidays
                // events: 'bn.bd#holiday@group.v.calendar.google.com',
                eventClick: function(arg) {
                    console.log(arg)

                    $('#event-title').html(arg.event._def.extendedProps.event_name)
                    $('#image-url').html(`<img class="img-fluid" src=${arg.event._def.extendedProps.eventURL}> `)
                    renderAddToCalendar(arg)

                    // ajax request for user event registeration data
                    $.ajax({
                        type: "GET",
                        url: '{% url "calendar_event" %}',
                        data: {
                            event_id: arg.event._def.extendedProps.eventID,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        dataType: 'json',
                        success: function (data, status) {
                            renderRegisterBtn(data)
                        },
                        error: function (res) {
                            alert(res.status);                                                                                                                          
                        },
                    });
                    
                    $('#modal-popper').css("display", "block")
                    
                    //if (confirm('Are you sure you want to delete this event?')) {
                    //arg.event.remove()
                    //}
                },
                editable: true,
                dayMaxEvents: true, // allow "more" link when too many events
                events: {{ event_list|safe }},
            });
            calendar.render();
        }); // End Calendar
        
        // close btns for create event form
        $('#modalClose1').click(() => $("#eventModal").css("display", "none"))
        $('#modalClose2').click(() => $("#eventModal").css("display", "none"))
        // close btns for popper
        $('#closePopper').click(() => $("#modal-popper").css("display", "none"))
        $('#popper-x').click(() => $("#modal-popper").css("display", "none"))
        // add event btn => open event form
        $('#addEvent').click(() => $("#eventModal").css("display", "block"))

        // create a button => add current event (popper) to google calendar
        const renderAddToCalendar = (arg) => {
            let startDate =  new Date(arg.event._instance.range.start.getTime() + arg.event._instance.range.start.getTimezoneOffset() * 60 *1000).toISOString().replace(/-|:|\.\d\d\d/g,"")
            let endDate =  new Date(arg.event._instance.range.end.getTime() + arg.event._instance.range.start.getTimezoneOffset() * 60 *1000).toISOString().replace(/-|:|\.\d\d\d/g,"")
            let hrefEvent = `https://calendar.google.com/calendar/r/eventedit?text=${encodeURIComponent(arg.event._def.extendedProps.event_name)}&dates=${startDate}/${endDate}&ctz=UTC&details=${encodeURIComponent(arg.event._def.extendedProps.eventDescription)}`
            html = `<a class="text-decoration-none text-white" href=${hrefEvent} target="_blank"><i class="bi bi-calendar2-plus"></i> Add To Google Calendar</a>`
            $('#add-to-calendar').html(html)
        }

        // create a button => allow users to register for current event
        const renderRegisterBtn = (data) => {
            registerBtn = (data.registered == true) ? `<button type="submit" class="btn btn-secondary"><i class="bi bi-bookmark-star-fill"></i> Registered</button>` : `<button type="submit" class="btn btn-success"><i class="bi bi-bookmark-star"></i> Register</button>`

            let html = `
                <input type='hidden' id="event_id" name='event_id' value="${data.eventID}">
                ${registerBtn}
                <strong>${data.registeredCount} people registered</strong>
            `
            $('#registerBtnForm').html(html)
        }

        // ajax request for register or unregister an event
        $("#registerBtnForm").on('submit', (e) => {
            e.preventDefault();

            $.ajax({
                type: "GET",
                url: '{% url "register_event" %}',
                data: {
                    event_id: $('#event_id').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data, status) {
                    renderRegisterBtn(data)
                },
                statusCode: {
                    401: function() {
                        // Unauthorized, redirect to login
                        window.location.href = '{% url "login" %}';
                    },
                },
                error: function (res) {
                    // alert(res.status);                                                                                                                          
                },
            });
        });

    </script>
{% endblock extrascripts %}