{% extends 'ProjectSite/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
    <title>Blog</title>
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center mt-4">Monthly Blog Update</h1>
        <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}

            <div class="my-3 mb-5">
                <button type="reset" class="btn btn-danger">Discard</button>
                <button type="submit" class="btn btn-primary" style="background-color: #834655">Post</button>
            </div>

        </form>
    </div>

{% endblock %}

