{% extends 'ProjectSite/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
    <title>Blog</title>
{% endblock %}

{% block body %}

<style>
    a, label{
        color: black;
    }
</style>
<div class="container">
    <div class="card">

        <div class="card-header">
            Edit Post
        </div>

        <div class="card-body">

            <form method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-9 col-lg-10">
                        <labeL class="blog-title">Title</labeL>
                        {{form.post_title}}
                        <labeL class="blog-title">Content</labeL>
                        {{form.post}}
                        <labeL class="blog-title">Videos</labeL>
                        {{form.video_urls}}
                        <labeL class="blog-title">Main Image</labeL><br>
                        {{form.main_image}}<br>
                        <labeL class="blog-title">Images</labeL>
                        {{form.images}}
                        {{form.media}}
                        {{form.post_content}}
                    </div>
                    <div class="row my-3">
                        <div class="col text-center">
                            <a href="{% url 'blog' %}" class="btn blog-button"> <-Go Back</a>
                            <button type="submit" class="btn blog-button">Update</button>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
    </div>

{% endblock %}

