{% extends 'ProjectSite/base.html' %}
{% load static %}

<style>
    @media screen and (min-width: 768px) {
        .myimg{
            display: block; margin: auto; height: 150px; width: auto;
        }
    }
</style>

{% block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <section>
        <header class="masthead text-center text-white">
            <div class="masthead">
                <div class="container px-5">
                    <h2 class="mb-5 text-white display-4 font-weight-bold">Self-sufficiency for you plus services and
                        information for your family</h2>
                    <p></p>
                    <form action="{% url 'about' %}">
                        <button style="padding: 1rem 3rem;border-radius: 2rem;border: none;outline: none;line-height: 3.6rem;text-transform: capitalize;cursor: pointer;font-style: normal;font-weight: normal;font-size: 2rem;">
                            Learn More
                        </button>
                    </form>
                </div>
            </div>
        </header>
    </section>

    <section class="main-section">
        <div>
            <img class="special img-fluid"
                 src="https://static.wixstatic.com/media/d6c8f9_ce18e01ada6743018b7584f2b7c0d4d5~mv2.jpg/v1/fill/w_1652,h_642,al_c,q_85,usm_0.66_1.00_0.01/d6c8f9_ce18e01ada6743018b7584f2b7c0d4d5~mv2.webp"
                 alt="n/a">
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row text-center">
                <h1 class="mt-4 mb-4 display-4">Access Services</h1>
                <div class="col"><img class="img-fluid" src=" {% static 'images/logo-familypromise.png' %}" data-bs-toggle="popover"  title="Family Promise" data-bs-html="true" data-bs-content="<a href ='https://familypromisecct.org/' target='_blank' rel='noopener noreferrer'> Webstie</a>"></div>
                <div class="col"><img class="img-fluid" src=" {% static 'images/logo-healthcenter.png' %}" data-bs-toggle="popover"  title="Community Health Center" data-bs-html="true" data-bs-content="<a href ='https://www.chc1.com/' target='_blank' rel='noopener noreferrer'> Webstie</a>"></div>
                <div class ="col"> <img class="img-fluid" src=" {% static 'images/logo-hospitalcentral.png' %}"data-bs-toggle="popover"  title="Hospital of Central CT" data-bs-html="true" data-bs-content="<a href ='https://thocc.org/' target='_blank' rel='noopener noreferrer'> Webstie</a>"></div>
                <div class="w-100"></div>
                <div class="col"><img class="img-fluid" src=" {% static 'images/logo-housingauthority.png' %}"data-bs-toggle="popover"  title="NBHA" data-bs-html="true" data-bs-content="<a href ='https://nbhact.org/ target='_blank' rel='noopener noreferrer'> Webstie</a>"></div>
                <div class="col"><img class="img-fluid" src=" {% static 'images/logo-hra.png' %}" data-bs-toggle="popover"  title="HRA" data-bs-html="true" data-bs-content="<a href ='https://www.hranbct.org/' target='_blank' rel='noopener noreferrer'> Webstie</a>" ></div>
                <div class="col"><img class="img-fluid" src=" {% static 'images/logo-jobcenter.png' %}"data-bs-toggle="popover"  title="American Job Center" data-bs-html="true" data-bs-content="<a href ='https://portal.ct.gov/ajc' target='_blank' rel='noopener noreferrer'> Webstie</a>"></div>
            </div>
            <div class="row text-center">
                <div class="col"><img class="img-fluid" src=" {% static 'images/logo-libertyintegrated.png' %}"data-bs-toggle="popover"  title="Liberty Integrated Behavioral Health" data-bs-html="true" data-bs-content="<a href ='https://www.libertyibh.com/' target='_blank' rel='noopener noreferrer'> Webstie</a>"></div>
                <div class="col"><img class="img-fluid" src=" {% static 'images/logo-tunxis.png' %}"data-bs-toggle="popover"  title="Tunxis Community College" data-bs-html="true" data-bs-content="<a href ='https://tunxis.edu/' target='_blank' rel='noopener noreferrer'> Webstie</a>"></div>
                <div class="col"><img class="img-fluid" src=" {% static 'images/logo-wioa.png' %}"data-bs-toggle="popover"  title="WIOA" data-bs-html="true" data-bs-content="<a href ='https://www.dol.gov/agencies/eta/wioa' target='_blank' rel='noopener noreferrer'> Webstie</a>" ></div>
                <div class="w-100"></div>
                <div class="col"><img class="img-fluid myimg" src=" {% static 'images/logo-seal.png' %}" data-bs-toggle="popover"  title="City of New Britan" data-bs-html="true" data-bs-content="<a href ='https://www.newbritainct.gov/' target='_blank' rel='noopener noreferrer'> Webstie</a>"></div>
                <div class="col"><img class="img-fluid myimg" src=" {% static 'images/logo-adulteducation.png' %}" data-bs-toggle="popover"  title="New Britan Adult Education" data-bs-html="true" data-bs-content="<a href ='https://www.nbadulteducation.org/' target='_blank' rel='noopener noreferrer'> Webstie</a>"></div>
                <div class="col"><img class="img-fluid myimg" src=" {% static 'images/logo-cahs.png' %}" data-bs-toggle="popover"  title="CAHS" data-bs-html="true" data-bs-content="<a href ='https://www.cahs.org/' target='_blank' rel='noopener noreferrer'> Webstie</a>"></div>
            </div>
            <div class="row">
                <div class="col"><img class="img-fluid myimg" src=" {% static 'images/logo-ccsu.png' %}" data-bs-toggle="popover"  title="CCSU" data-bs-html="true" data-bs-content="<a href ='https://www2.ccsu.edu/' target='_blank' rel='noopener noreferrer'> Webstie</a>"></div>
                <div class="col"><img class="img-fluid myimg" src=" {% static 'images/logo-coramdeo.png' %}"data-bs-toggle="popover"  title="Coramdeo Recovery" data-bs-html="true" data-bs-content="<a href ='https://coramdeorecovery.org/' target='_blank' rel='noopener noreferrer'> Webstie</a>" ></div>
                <div class="col"><img class="img-fluid myimg" src=" {% static 'images/logo-ctdental.png' %}" data-bs-toggle="popover"  title="CT Dental" data-bs-html="true" data-bs-content="<a href ='https://www.ctdhp.com/default.asp' target='_blank' rel='noopener noreferrer'> Webstie</a>"></div>
                <div class="w-100"></div>
                <div class="col"><img class="img-fluid myimg" src=" {% static 'images/logo-ctmoneyschool.png' %}" data-bs-toggle="popover"  title="CT Money School" data-bs-html="true" data-bs-content="<a href ='https://www.cahs.org/cms.html' target='_blank' rel='noopener noreferrer'> Webstie</a>"></div>
            </div>
        <div class="row text-center">
            <div>
                <!--
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-familypromise.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-healthcenter.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-hospitalcentral.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-housingauthority.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-hra.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-jobcenter.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-libertyintegrated.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-tunxis.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-wioa.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-seal.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-adulteducation.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-cahs.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-ccsu.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-coramdeo.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-ctdental.png' %}">
                <img style="width: 100px; height: 100px" src=" {% static 'images/logo-ctmoneyschool.png' %}">
                -->
            </div>
        </div>
        </div>
    </section>
    <!--
    <section id="home_vision">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-3"><img class="img-fluid rounded-circle"
                                          src="https://static.wixstatic.com/media/aa6dd5_39c0b44faa3546eb9f5fb7e0cb291f4b~mv2.png/v1/fill/w_574,h_366,al_c,q_85,usm_0.66_1.00_0.01/aa6dd5_39c0b44faa3546eb9f5fb7e0cb291f4b~mv2.webp"
                                          alt="..."/></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Collaborating Actively</h2>
                        <p>With people lacking personal and social capital</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-3"><img class="img-fluid rounded-circle"
                                          src="https://static.wixstatic.com/media/aa6dd5_91c061194bc143a1bf840e434b9842f8~mv2.png/v1/fill/w_574,h_366,al_c,q_85,usm_0.66_1.00_0.01/aa6dd5_91c061194bc143a1bf840e434b9842f8~mv2.webp"
                                          alt="..."/></div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Allows for</h2>
                        <p>A network of agencies and resources that can become social capital</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-3"><img class="img-fluid rounded-circle"
                                          src="https://static.wixstatic.com/media/aa6dd5_da304c5e8ab945d7bd3c7d0bc38b3f83~mv2.png/v1/fill/w_574,h_366,al_c,q_85,usm_0.66_1.00_0.01/aa6dd5_da304c5e8ab945d7bd3c7d0bc38b3f83~mv2.webp"
                                          alt="..."/></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4"> And Invites</h2>
                        <p>Relationships grounded in collaboration, communication, & commitment that results in improved
                            life outcomes</p>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
{% endblock %}
{% block scripts %}
<!-- Tooltips contact -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
<script>
    
    $(function () {
    $('[data-bs-toggle="popover"]').popover({
        trigger: "manual",
        html: true,
        animation: false
      })
      .on("mouseenter", function() {
        var _this = this;
        $(this).popover("show");
        $(".popover").on("mouseleave", function() {
          $(_this).popover('hide');
        });
      }).on("mouseleave", function() {
        var _this = this;
        setTimeout(function() {
          if (!$(".popover:hover").length) {
            $(_this).popover("hide");
          }
        }, 300);
      });
    })
    
</script>
{% endblock scripts %}