
{% extends 'ProjectSite/base.html' %}
{% load embed_video_tags %}
{% load static %}

{% block title %}
    <title>Blog</title>
{% endblock %}

{% block body %}

{% if user.is_staff %}
    <div class="text-center">
        <a href="{% url 'edit_blog' blog.slug %}" class="btn blog-button">Edit</a>
        <a href="{% url 'delete_blog' blog.slug %}" class="btn blog-button">Delete</a>
    </div>
{% endif %}

<div class="container text-center" style="margin-top: 30px; margin-bottom: 30px;">
    <img class="blog-image" src="{{ blog.main_image.url }}">
    <h1 class="blog-title mt-2">{{blog.post_title }}</h1>
    <a style="color: black;" href="{% url 'view_post' blog.slug %}"><h1 style="margin-top: 20px; margin-bottom: 0px; font-size: 50px;">{{blog.blog_title }}</h1></a>
    <p style="margin-bottom: 10px;" class="text-muted">{{ blog.created_at}}</p>
    <p style="color: black; margin-top: 30px; margin-bottom: 30px;">{{ blog.post }}</p>
    <p style="color: black; margin-top: 30px; margin-bottom: 30px;">{{ blog.post_content|safe }}</p>
</div>

{% endblock %}