{% extends 'ProjectSite/base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}
    <title>Resources</title>
{% endblock %}

{% block more-styles %}
    <link rel="stylesheet" href="{% static 'css/ProjectSite.css' %}">
    <link rel="stylesheet" href="{% static 'css/ContactFilter.css' %}">
{% endblock %}

{% block body %}

    <div class="container pt-2">
        <div class="col-12 col-sm-12 col-xxl-10">
            <div class="card card-body">
                <form method="GET">
                    {% csrf_token %}
                    <div class="dropdown">
                        <input class="dropdown-toggle px-3 w-100" id="selected-service" data-bs-toggle="dropdown" name="service" value="{{ selectedService }}" />
                        <ul class="dropdown-menu">
                            <!-- Category -->
                            <li><strong class="dropdown-item fw-bold">Category</strong>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" onclick="selectService('All')">All</a>
                            {% for category in categories %}
                                <li><a class="dropdown-item" >{{ category }} &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <!-- Service -->
                                        <li><b class="dropdown-item fw-bold">Service</b>
                                        <li><hr class="dropdown-divider"></li>
                                        {% for service in services %}
                                            {% if service.category == category %}
                                                <li><a class="dropdown-item" onclick="selectService( '{{ service }}' )">{{ service }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button class="btn btn-primary rounded" type="submit" name="search">Search</button>
                </form>
                <!-- End Dropdown -->
            </div> 
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-xxl-10">
                <div class="card card-body table-responsive">
                      <table class="table table-sm" style="table-layout: fixed;">
                        <colgroup>
                            <col style="width: 15%;">
                            <col style="width: 35%;">
                            <col style="width: 33%;">
                            <col style="width: 17%;">
                        </colgroup>
                        <tr class="">
                            <th>Services</th>
                            <th>Resource Provider</th>
                            <th>Website</th>
                            <th>Phone Number</th>
                        </tr>
                        {% for pagcontact in pagContacts %}
                            <tr>
                                <td>{{ pagcontact.service }}</td>
                                <td>{{ pagcontact.contact_resource_provider }}</td>
                                <td><a class="fs-6" style="color: darkblue;" href="//{{ pagcontact.contact_websites }}">{{ pagcontact.contact_websites }}</a></td>                                                                <!--<td>{{ allcontact.contact_location }}</td>-->
                                <td><a style="color: darkblue;" href="tel:{{pagcontact.contact_number}}">{{ pagcontact.contact_number }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <h5>{{pagContacts}}</h5>
                    {% if pagContacts.has_other_pages %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            
                        {% if pagContacts.has_previous %}
                              <li class="page-item"><a class="page-link" href="?page={{ pagContacts.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        {% if pagContacts.has_next %}
                        
                             <li class="page-item"><a class="page-link" href="?page={{ pagContacts.next_page_number }}">Next</a></li>
                        {% endif %}
                    </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-sm-12 col-xxl-2">
                <h1 class="display-3">Our Partners</h1>
                <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-5 row-cols-xxl-1">
                    <div class="col"><a href="https://www.211ct.org/"><img class="img-fluid"
                                                                           src="https://secureservercdn.net/166.62.107.20/okt.47d.myftpupload.com/wp-content/uploads/2017/12/CT_211-1.png?time=1638790774"
                                                                           alt="partner"></a></div>
                    <div class="col"><a href="http://www.ctfairhousing.org/"><img class="img-fluid"
                                                                                  src="https://secureservercdn.net/166.62.107.20/okt.47d.myftpupload.com/wp-content/uploads/2017/12/CT_Fair_housing_act-1.jpg?time=1638790774"
                                                                                  alt="partner"></a></div>
                    <div class="col"><a href="http://www.conn-nahro.org/index.htm"><img class="img-fluid"
                                                                                        src="https://secureservercdn.net/166.62.107.20/okt.47d.myftpupload.com/wp-content/uploads/2017/12/CT_NAHRO-1.png?time=1638790774"
                                                                                        alt="partner"></a></div>
                    <div class="col"><a href="http://www.ctdol.state.ct.us/ajc/americanjobcenters.htm"><img
                            class="img-fluid"
                            src="https://secureservercdn.net/166.62.107.20/okt.47d.myftpupload.com/wp-content/uploads/2017/12/ctworks-1.gif?time=1638790774"
                            alt="partner"></a></div>
                    <div class="col"><a href="http://www.portal.ct.gov/dcf"><img class="img-fluid"
                                                                                 src="https://secureservercdn.net/166.62.107.20/okt.47d.myftpupload.com/wp-content/uploads/2017/12/DCF-1.jpg?time=1638790774"
                                                                                 alt="partner"></a></div>
                    <div class="col"><a href="https://www.hud.gov/"><img class="img-fluid"
                                                                         src="https://secureservercdn.net/166.62.107.20/okt.47d.myftpupload.com/wp-content/uploads/2017/12/HUD-1.jpg?time=1638790774"
                                                                         alt="partner"></a></div>
                    <div class="col"><a href="https://www.ctunitedway.org/"><img class="img-fluid"
                                                                                 src="https://secureservercdn.net/166.62.107.20/okt.47d.myftpupload.com/wp-content/uploads/2017/12/United_way_CT-1.png?time=1638790774"
                                                                                 alt="partner"></a></div>
                    <div class="col"><a href="https://greaternewbritainchamber.com/"><img class="img-fluid"
                                                                                          src="https://secureservercdn.net/166.62.107.20/okt.47d.myftpupload.com/wp-content/uploads/2017/12/new_britain_chamber_of_commerce.png?time=1638790774"
                                                                                          alt="partner"></a></div>
                    <div class="col"><a href="http://www.ctdol.state.ct.us/"><img class="img-fluid"
                                                                                  src="https://secureservercdn.net/166.62.107.20/okt.47d.myftpupload.com/wp-content/uploads/2017/12/ct_dept_labor_logo.gif?time=1638790774"
                                                                                  alt="partner"></a></div>
                    <div class="col"><a href="http://www.newbritainct.gov/"><img class="img-fluid"
                                                                                 src="https://secureservercdn.net/166.62.107.20/okt.47d.myftpupload.com/wp-content/uploads/2017/12/city_of_new_britain_logo.png?time=1638790774"
                                                                                 alt="partner"></a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}

{% endblock extrascripts %}