{% extends 'ProjectSite/base.html' %}
{% load static %}

{% block title %}
    <title>Tutorials</title>
{% endblock %}


{% block body %}
<div class="contatiner m-5">
    <h1 class="text-center">Video Tutorials</h1>

    <div class="row text-center mt-5">

            <h2> Register for events</h2>
            <iframe src="https://drive.google.com/file/d/1M4iAYKwF8ichQctWuEh5X4t6vo1vE0uy/preview" width="640" height="480" allow="autoplay"></iframe>
    
    </div>
    <div class="row text-center mt-5">

        <h2> Register for events</h2>
        <iframe src="https://drive.google.com/file/d/1FHTk_-DpmFacwVbxWkPsk_0YaBH7chVE/preview" width="640" height="480" allow="autoplay"></iframe>

</div>

<div class="row text-center mt-5">

    <h2> Resource page</h2>
    <iframe src="https://drive.google.com/file/d/1FHTk_-DpmFacwVbxWkPsk_0YaBH7chVE/preview" width="640" height="480" allow="autoplay"></iframe>

</div>

{% endblock %}

