/* -------------------------- N/A -------------------------- */
* {
    margin: 0;
    padding: 0;
  }
  
  html{
    position: relative;
    min-height: 100%;
    
    scroll-behavior: smooth;
  }
  
  .navbar-custom{
      height: 146.02px !important;
  }
  .px-4{
      padding-right: 14.88px !important;
      padding-left: 14.88px !important;
      font-size: 9.92px;
  }

  a{text-decoration: none;cursor: pointer;}
  li{list-style: none;}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    }
    .navbar > .container,
    .navbar > .container-fluid
    {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    }
    .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    }
    .navbar-nav .nav-link {padding-right: 0;padding-left: 0;}
    .navbar-nav .dropdown-menu {position: static;}
    .navbar-custom {
    padding-top: 9.92px !important;
    padding-bottom: 9.92px !important;
    background-color: var(--background-color); 
    }
    .navbar-custom .navbar-brand {
    text-transform: uppercase;
    font-size: 19.84px !important;
    letter-spacing: 0.1rem;
    font-weight: 700;
    }
    .navbar-custom .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 19.84px !important;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: var(--primary-color);
    font-family: 'Avenir', monospace;
    }
    @media (min-width: 992px) {
    .navbar-expand-lg {flex-wrap: nowrap;justify-content: flex-start;}
    .navbar-expand-lg .navbar-nav {flex-direction: row;}
    .navbar-expand-lg .navbar-nav .dropdown-menu {position: absolute;}
    .navbar-expand-lg .navbar-nav .nav-link { padding: 4.96px !important; /*padding-right: 0.5rem;padding-left: 0.5rem;*/}
    .navbar-expand-lg .navbar-nav-scroll {overflow: visible;}
    .navbar-expand-lg .navbar-collapse {display: flex !important;flex-basis: auto;}
    }
    
    /*-------------------------- NAV COLLAPSE --------------------------*/
    
    .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    }
    /*pse:not(.show) {display: none;}*/
    .collapsing.collapse-horizontal {
    width: 0;
    height: auto;
    transition: width 0.35s ease;
    }
    @media (prefers-reduced-motion: reduce) {.collapsing.collapse-horizontal {transition: none;}}
    
    /*-------------------------- NAV TABS, --------------------------*/
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    
    /*background-color: #fff;*/
    /*border-color: #dee2e6 #dee2e6 #fff;*/
    }
    
    /*-------------------------- NAV TOGGLER --------------------------*/
    .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    }
    .navbar-toggler:hover {text-decoration: none;}
    .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem;
    }
    
    .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    }
    @media (prefers-reduced-motion: reduce) {.navbar-toggler {transition: none;}}
    