{% extends 'ProjectSite/base.html' %}
{% load static %}

{% block title %}
    <title>Profile</title>
{% endblock %}


{% block body %}

<div class="container">
    <!-- row => user profile -->
    <div class="row">
        <h1 class="m-3">Username: <span class="text-dark">{{ user.username }}</span></h1>
        <h1 class="m-3">Email: <span class="text-dark">{{ user.email }}</span></h1>
        <h1 class="m-3">Phone: <span class="text-dark">{{ user.resident.formatted_phone }}</span></h1>
        <span><a class="btn btn-dark m-3 p-3" href="{% url 'resident_profile_edit' %}">Edit Profile</a></span>
    </div>
    <hr class="my-3">
    <!-- row => events -->
    <div id="all-registered-events" class="row my-5">
        <h1 class="text-dark my-3">All Registered Events:</h1>
        <!-- toggle buttons -->
        <div class="text-center">
            <div class="btn-group">
                <div id="toggle-past-events" class="btn btn-lg btn-outline-primary border-primary">Past Events</div>
                <div id="toggle-upcoming-events" class="btn btn-lg btn-primary border-primary active">Upcoming Events</div>
            </div>
        </div>
        <!-- Events -->
        <div id="events" class="container my-3">
            <!-- Event Cards for upcoming events -->
            <div id="upcoming-events-section">
                <!-- Events -->
                <div id="upcoming-event-cards" class="row g-5">
                    {% for event in pagUpcomingEvents %}
                    <div class="col-md-6 col-lg-4">
                        <div class="p-3 card">
                            <div class="d-flex align-items-center justify-content-center" style="height:200px;">
                                <img src="{{ event.event_popper.url }}" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <div class="card-title text-center h1">{{event.event_name}}</div>
                                <hr class="mt-auto">
                                <div class="h6 overflow-auto" style="height:100px;">{{event.event_description}}</div>
                            </div>
                            <hr class="my-0">
                            <form class="registerBtnForm text-center m-3">
                                <input id="unregister-id" type='hidden' name='unregister-id' value="{{event.id}}">
                                <input id="unregister-page" type="hidden" name="unregister-page" value="1">
                                <button type="submit" class="btn btn-danger">Unregister</button>
                            </form>
                        </div>
                    </div>
                    {% empty %}
                    <h3 class="h3 text-secondary text-center fst-italic fw-bold" style="margin-bottom: 400px;">There is no upcoming events</h3>
                    {% endfor %}
                </div>
                <!-- page buttons -->
                <div class="d-flex justify-content-center align-items-end m-3 p-3">
                    <form class="changePage">
                        <input type="hidden" name="type" value="upcoming">
                        {% if pagUpcomingEvents.has_previous %}
                            <input id="upcoming-prev-page-num" type="hidden" name="page" value="{{ pagUpcomingEvents.previous_page_number }}">
                            <button id="upcoming-prev-btn" type="submit" class="btn btn-primary">&#8249;</button>
                        {% else %}
                            <input id="upcoming-prev-page-num" type="hidden" name="page" value="0" >
                            <button id="upcoming-prev-btn" type="submit" class="btn btn-primary" disabled>&#8249;</button>
                        {% endif %}
                    </form>
                    <h5 id="current-upcoming-page" class="px-3 mx-3">{{ pagUpcomingEvents }}</h5>
                    <form class="changePage">
                        <input type="hidden" name="type" value="upcoming">
                        {% if pagUpcomingEvents.has_next %}
                            <input id="upcoming-next-page-num" type="hidden" name="page" value="{{ pagUpcomingEvents.next_page_number }}">
                            <button id="upcoming-next-btn" type="submit" class="btn btn-primary">&#8250;</button>
                        {% else %}
                            <input id="upcoming-next-page-num" type="hidden" name="page" value="0">
                            <button id="upcoming-next-btn" type="submit" class="btn btn-primary" disabled>&#8250;</button>
                        {% endif %}
                    </form>
                </div>
            </div>
            <!-- End Event Card for upcoming events -->

            <!-- Event Cards for past events -->
            <div id="past-events-section" style="display: none;">
                <!-- Events -->
                <div id="past-event-cards" class="row g-5">
                    {% for event in pagPastEvents %}
                    <div class="col-md-6 col-lg-4">
                        <div class="p-3 card">
                            <div class="d-flex align-items-center justify-content-center" style="height:200px;">
                                <img src="{{ event.event_popper.url }}" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <div class="card-title text-center h1">{{event.event_name}}</div>
                                <hr class="mt-auto">
                                <div class="h6 overflow-auto" style="height:100px;">{{event.event_description}}</div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h3 class="h3 text-secondary text-center fst-italic fw-bold" style="margin-bottom: 400px;">There is no past events</h3>
                    {% endfor %}
                </div>
                <!-- page buttons -->
                <div class="d-flex justify-content-center align-items-end m-3 p-3">
                    <form class="changePage">
                        <input type="hidden" name="type" value="past">
                        {% if pagPastEvents.has_previous %}
                            <input id="past-prev-page-num" type="hidden" name="page" value="{{ pagPastEvents.previous_page_number }}">
                            <button id="past-prev-btn" type="submit" class="btn btn-primary">&#8249;</button>
                        {% else %}
                            <input id="past-prev-page-num" type="hidden" name="page" value="0" >
                            <button id="past-prev-btn" type="submit" class="btn btn-primary" disabled>&#8249;</button>
                        {% endif %}
                    </form>
                    <h5 id="current-past-page" class="px-3 mx-3">{{ pagPastEvents }}</h5>
                    <form class="changePage">
                        <input type="hidden" name="type" value="past">
                        {% if pagPastEvents.has_next %}
                            <input id="past-next-page-num" type="hidden" name="page" value="{{ pagPastEvents.next_page_number }}">
                            <button id="past-next-btn" type="submit" class="btn btn-primary">&#8250;</button>
                        {% else %}
                            <input id="past-next-page-num" type="hidden" name="page" value="0">
                            <button id="past-next-btn" type="submit" class="btn btn-primary" disabled>&#8250;</button>
                        {% endif %}
                    </form>
                </div>
            </div>
            <!-- End Event Card for past events -->
        
        </div>
    </div>
    <!-- End rows -->
</div>

{% endblock %}

<!-- Scripts start here -->
{% block scripts %}
<script type="text/javascript">
    $(document).ready(() => {
        // toggle events: past events or upcoming events
        $('#toggle-past-events').click(() => {
            $('#toggle-past-events').removeClass("btn-outline-primary").addClass("btn-primary active");
            $('#toggle-upcoming-events').removeClass("btn-primary active").addClass("btn-outline-primary");
            $('#upcoming-events-section').fadeOut(300, () => {
                $('#past-events-section').fadeIn(300);
            });
        });
        $('#toggle-upcoming-events').click(() => {
            $('#toggle-upcoming-events').removeClass("btn-outline-primary").addClass("btn-primary active");
            $('#toggle-past-events').removeClass("btn-primary active").addClass("btn-outline-primary");
            $('#past-events-section').fadeOut(300, () => {
                $('#upcoming-events-section').fadeIn(300);
            });
        });

        // Ajax request for pagination - next or prev page
        $(".changePage").on('submit', (e) => {
            e.preventDefault();
            let page = $(e.target).children('input[name="page"]').val()        
            let type = $(e.target).children('input[name="type"]').val()
            changePage(page, type)
        });

        // End document.ready()
    })

    // Ajax request for unregister an event
    $(document).on('submit', '.registerBtnForm', (e) => {
        e.preventDefault();
        let event_id = $(e.target).children('input[name="unregister-id"]').val() 
        let unregister_page = parseInt($(e.target).children('input[name="unregister-page"]').val());
        unregisterEvent(event_id, unregister_page)
    })

    function unregisterEvent(event_id, unregister_page) {
        $.ajax({
            type: "GET",
            url: '{% url "register_event" %}',
            data: {
                event_id: event_id,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data, status) {
                changePage(unregister_page, "upcoming", false)
            },
            statusCode: {
                401: function() {
                    // Unauthorized, redirect to login
                    window.location.href = '{% url "login" %}';
                },
            },
            error: function (res) {
                // alert(res.status);                                                                                                                          
            },
        });
    }

    function changePage(page, type, scrollToTop=true) {
        $.ajax({
            type: "GET",
            url: '{% url "resident_profile_page" %}',
            data: {
                page: page,
                type: type,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data) {
                // console.log(data)
                renderEventContainer(data, type)
                renderButtons(data, type)
                
                if (scrollToTop) {
                    $("#all-registered-events")[0].scrollIntoView({
                        behavior: "smooth", // or "auto" or "instant"
                        block: "start" // or "end"
                    });
                }
            },
            error: function (res) {
                // alert(res.status);                                                                                                                          
            },
        });
    }

    function renderEventContainer(data, type) {
        let html = ''
        // event cards
        data.events.forEach(event => {
            html += 
            `
            <div class="col-md-6 col-lg-4">
                <div class="p-3 card">
                    <div class="d-flex align-items-center justify-content-center" style="height:200px;">
                        <img src="${event.eventURL}" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="card-title text-center h1">${event.event_name}</div>
                        <hr class="mt-auto">
                        <div class="h6 overflow-auto" style="height:100px;">${event.eventDescription}</div>
                    </div>
                    ${createUnregisterBtn(data, type, event.eventID)}
                </div>
            </div>
            `
        })
        if (data.events.length <= 0) {
            if (type === "upcoming")
                html = `<h3 class="h3 text-secondary text-center fst-italic fw-bold" style="margin-bottom: 400px;">There is no upcoming events</h3>`
            else 
                html = `<h3 class="h3 text-secondary text-center fst-italic fw-bold" style="margin-bottom: 400px;">There is no past events</h3>`
        }

        if (type === "past") 
            $("#past-event-cards").html(html) 
        else 
            $("#upcoming-event-cards").html(html)
    }
    const createUnregisterBtn = (data, type, id) => {
        html = '';
        if (type === "upcoming") {
            // get current page number
            currPage = 1;
            if (data.has_previous) {
                currPage = data.previous_page_number + 1;
            } else if (data.has_next) {
                currPage = data.next_page_number - 1;
            }
            html =
            
            `
            <hr class="my-0">
            <form class="registerBtnForm text-center m-3">
                <input id="unregister-id" type='hidden' name='unregister-id' value="${id}">
                <input id="unregister-page" type="hidden" name="unregister-page" value="${currPage}">
                <button type="submit" class="btn btn-danger">Unregister</button>
            </form>
            `
        }
        return html;
    }
    
    function renderButtons(data, type) {
        if (type === "past") {
            $("#past-prev-page-num").val(data.previous_page_number)
            $("#past-prev-btn").prop('disabled', !data.has_previous)
            $("#past-next-page-num").val(data.next_page_number)
            $("#past-next-btn").prop('disabled', !data.has_next)
            $("#current-past-page").html(`&lt; ${data.current} &gt;`)
        }
        else {
            $("#upcoming-prev-page-num").val(data.previous_page_number)
            $("#upcoming-prev-btn").prop('disabled', !data.has_previous)
            $("#upcoming-next-page-num").val(data.next_page_number)
            $("#upcoming-next-btn").prop('disabled', !data.has_next)
            $("#current-upcoming-page").html(`&lt; ${data.current} &gt;`)
        }
    }
</script>
{% endblock scripts %}

