{% extends 'ProjectSite/authentication/auth_base.html' %}
{% load static %}

{% block title %}
    <title>Info</title>
{% endblock %}

{% block auth_content %}    
    <br>
    <br>
    <br>
    <br>
    <div class="text-dark text-center display-6 fw-bold m-5">{{ msg }}</div>
    <br>
    <br>
    <br>
    <div class="mt-4">
        <div class="d-flex justify-content-center links h4">
            <div class="h5">All set? <a href="{% url 'login' %}" class="ml-2 text-primary"> Login</a></div> 
        </div>
    </div>
{% endblock %}